.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-1,
.card-2,
.card-3,
.card-4 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: #fff;
}
.heading {
  font-size: 20px;
  color: #171f46;
}
.description {
  font-size: 20px;
  color: #64748b;
}
.image {
  height: 60px;
  align-self: flex-end;
}
@media screen and (min-width: 768px) {
  .card-1,
  .card-3 {
    margin-right: 25px;
  }
}
